.App {
  text-align: center;
}

.App-logo-spin {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo-bounce {
  animation: App-logo-bounce 1.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title-h1 {
  font-size: 1.5em;
}

.App-title-h2 {
  font-size: 0.9em;
}

.App-intro {
  font-size: 30px;
}

.input {
  width: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-bounce {
  from { transform: translate3d(0, -14px, 0); }
  to   { transform: translate3d(0, -9px, 0); }
}
